/* main css file  */
* {
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-color: #faf6f5;
}
.nav-link {
  color: black;
}

.btn {
  background-color: #fedc01;
  width: 300px;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 15px;
  font-weight: bold;
}

.about {
  border-radius: 50%;
}
#social_icons img,
a.icon {
  text-decoration: none;
  font-size: 25px;
}

.fa-map-marker {
  color: red;
}

.nav-link {
  color: black;
  border-radius: 10px;
}

.active {
  background-color: #fedc01;
  font-weight: bold;
}

.navbar-nav > li {
  padding-left: 20px;
  padding-right: 20px;
}

.navbar-nav > li > a:hover {
  color: black;
  font-weight: bold;
  background-color: #fedc01;
}

.text-secondary {
  text-decoration: none;
}

.add:hover {
  transform: scale(1.009);
  box-shadow: 1px 2px 2px #ccccc9;
}

.add {
  max-height: auto;
}
.show-header {
  text-align: center;
}

.sign {
  display: flex;
  background-color: #fedc01;
  height: 2000px;
  position: absolute;
  width: 160px;
  z-index: -1;
  padding-top: 40px;
  border-radius: 15px;
  float: right;
  right: -7px;
}

.inner {
  position: relative;
  display: flex;
  height: 180px;
  width: 180px;
  left: -153px;
}

.menuborder {
  width: 500px;
  height: 80px;
  border-radius: 0px 8px 8px 0px;
  background-color: #fedc01;
  text-align: center;
}

.menutitle {
  font-size: 36pt;
}

.addsign {
  font-weight: bold;
  font-size: 16pt;
  padding-left: 10px;
  padding-right: 10px;
}

.subtract {
  font-weight: bold;
  font-size: 16pt;
  padding-left: 10px;
}

.carousel-item {
  min-height: 280px;
}

.card:hover {
  transform: scale(1.1);
}

.so a {
  color: inherit;
  text-decoration: none;
}

.so a:hover {
  color: inherit;
}

.sign_menu {
  display: flex;
  background-color: #fedc01;
  height: 1200px;
  position: absolute;
  width: 160px;
  z-index: -1;
  border-radius: 15px;
  float: right;
  right: -7px;
  margin-top: -100px;
}

.inner_menu {
  position: relative;
  display: flex;
  height: 180px;
  width: 180px;
  left: -120px;
}
/* css according to size and fixed menu */
.qty {
  font-size: 120%;
}
.addsign {
  font-weight: bold;
}
.menuData {
  margin-left: 15%;
  margin-right: 20%;
}
#menu {
  text-align: center;
}
@media only screen and (max-width: 820px) {
  .qty {
    text-align: center;
  }
  .bi-plus-lg {
    margin-left: 30%;
  }
  #titles {
    text-align: center;
  }
  .menuData {
    margin-left: 2%;
    margin-right: 0%;
  }
  .sign {
    height: 1000px;
  }
}
/*media for screen 821 above screen*/
@media only screen and (min-width: 821px) and (max-width: 1180px) {
  .qty {
    text-align: center;
  }
  .bi-plus-lg {
    margin-left: 30%;
  }
  #titles {
    text-align: center;
  }
  .menuData {
    margin-left: 2%;
    margin-right: 0%;
  }
  .sign {
    height: 1000px;
  }
}
