/* main css file  */

* {
  box-sizing: border-box;
}
.nav-link {
  color: black;
}

.btn {
  background-color: #fedc01;
  width: 500px;
  display: flex;
  justify-content: center;
  margin: auto;
  font-weight: bold;
}

.about {
  border-radius: 50%;
}

