/* main css file  */

#social_icons img, a{ 
    text-decoration: none;
    font-size: 25px;
};

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }

  .fa-map-marker{
    color: red
  }