.mb-3 {
  margin-right: 61%;
  margin-left: 5%;
  margin-top: 5%;
  /* margin-bottom: 50%;
  margin-top: 50%; */
}
.row {
  margin-top: 2%;
  margin-right: 25%;
  margin-left: 4%;
}
body {
  background-color: #E5E0ED;
}
